@import "tailwindcss";

/* Thin scrollbar */
.custom-scrollbar::-webkit-scrollbar {
      width: 6px;
      /* thickness */
      height: 6px;
      /* horizontal scrollbar height */
}

/* index.css */
html {
      scroll-behavior: smooth;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
      background: transparent;
}

/* Thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: #5751531c;
      border-radius: 10px;
      min-height: 100px;
}

/* Optional hover effect */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background-color: #5751533a;
}

/* Prevent scroll in main content area when modal is open */
body.modal-open div.flex-1.overflow-auto {
      overflow: hidden !important;
}
